{%- set external_urls = {
  'github': 'https://github.com/LukasHedegaard/ride',
  'github_issues': 'https://github.com/LukasHedegaard/ride/issues',
  'docs': 'https://ride.rtfd.io/en/latest',
  'home': 'https://ride.rtfd.io/en/latest/',
  'get_started': 'https://ride.readthedocs.io/en/latest/starter/readme.html',
  'support': 'https://ride.rtfd.io/en/latest/',
}
-%}
